
body {
  font-size: 15px; 
  text-align: left;
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Big Shoulders Display', cursive;
  color: white;
  font-size: 35px;
}

/* Button */
button {
  font-weight: bold;

  padding: 12px 32px;
  margin-top: 200px;
  border-radius: 20px;
  border: 0;
}

/* Button Text Colors */
.left-column-button { color: hsl(31, 77%, 52%) }
.middle-column-button { color: hsl(184, 100%, 22%) }
.right-column-button { color: hsl(179, 100%, 13%)}

/* Button Active State */
button:active {
  border: 1px solid white;
  color: white;
}

.left-column-button:active { background-color: hsl(31, 77%, 52%) }
.middle-column-button:active { background-color: hsl(184, 100%, 22%) }
.right-column-button:active { background-color: hsl(179, 100%, 13%)}

/* Column Background Colors */
.bright-orange { background-color: hsl(31, 77%, 52%) }

.dark-cyan { background-color: hsl(184, 100%, 22%) }

.very-dark-cyan { background-color: hsl(179, 100%, 13%) }

/* Position Columns */
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  height: 100vh;
  
}
.column {
  padding: 40px;
  width: 250px;
  height: auto;
}

/* Round left and right column Corners */
.right-column { border-radius: 0 5px 5px 0 }
.left-column { border-radius: 5px 0 0 5px}

/* Mobile */
@media only screen and (max-width: 450px) {
  .container {
    flex-direction: column;
  }
  button {
    margin-top: 10px;
  }
  .right-column { border-radius: 0 0 5px 5px }
  .left-column { border-radius: 5px 5px 0 0 }

}