
body {
  font-size: 15px; 
  text-align: left;
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Big Shoulders Display', cursive;
  color: white;
  font-size: 35px;
}

/* Button */
button {
  font-weight: bold;

  padding: 12px 32px;
  margin-top: 200px;
  border-radius: 20px;
  border: 0;
}

/* Button Text Colors */
.left-column-button { 
  color: hsl(31, 77%, 52%);
  border: 2px solid hsl(31, 77%, 52%);
}
.middle-column-button { 
  color: hsl(184, 100%, 22%);
  border: 2px solid hsl(184, 100%, 22%);

}
.right-column-button { 
  color: hsl(179, 100%, 13%);
  border: 2px solid hsl(179, 100%, 13%);

}

/* Button Active State */
button:active {
  border: 2px solid white;
  color: white;
}

.left-column-button:active { background-color: hsl(31, 77%, 52%) }
.middle-column-button:active { background-color: hsl(184, 100%, 22%) }
.right-column-button:active { background-color: hsl(179, 100%, 13%)}

/* Column Background Colors */
.bright-orange { background-color: hsl(31, 77%, 52%) }

.dark-cyan { background-color: hsl(184, 100%, 22%) }

.very-dark-cyan { background-color: hsl(179, 100%, 13%) }

/* Position Columns */
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: auto;
}

.column {
  padding: 40px;
  width: 260px; 
}


/* Round left and right column Corners */
.right-column { border-radius: 0 5px 5px 0 }
.left-column { border-radius: 5px 0 0 5px}

/* Mobile */
@media only screen and (max-width: 450px) {
  .container {
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  
    height: 100vh;    

  }

  .column {
    width: auto;
    padding: 20px;
    margin: 0 12%;
  }

  button {
    margin: 10px 0;
  }
  .right-column { border-radius: 0 0 5px 5px }
  .left-column { border-radius: 5px 5px 0 0 }

}